body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

nav{
    margin-bottom: 10px;
}

#editor{
    display:block; 
    width: 100%; 
    flex-grow: 1;
    padding: 5px;
    box-sizing: border-box;
}